.container {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.grid {
  background-color: lightgray;
  margin: 0;
  padding: 0;
  color: red;
}

.mouseover {
  background-color: black;
}
